<%= render "shared/header" %>
<div class= "main">
  <div class= "posts-wrapper">
    <div class= "page-title">
      <%= "お気に入り一覧" %>
    </div>
    <div class= "posts">
      <%= render  partial: 'posts/post', collection: @posts %>
    </div>
    <div class= "pagenation">
      <%= paginate @posts %>
    </div>
    <%= link_to(new_post_path, class: 'post-btn') do %>
      <span class='post-btn-text'>投稿する</span>
      <%= image_tag 'brush.png' , size: '185x50' ,class: "post-btn-icon" %>
    <% end %> 
  </div>     
</div>
