<%= render "shared/header" %>

<div class="post-show">
  <div class="post-box">
    <h2 class="show-title">
      <%= @post.title %>
    </h2>
    <div class="post-imgs-content">
      <%= image_tag @post.images[0], class: "image1" if @post.images.attached? %>
    </div>
    <% if @post.images.attached? %>
      <div class="other-images">
        <% @post.images[1..-1].each do |image| %>
          <div class="other-image">
            <%= image_tag image,  class: "other-img" %>
          </div>
        <% end %>
       </div>
    <% end %>
    <% if @post.text != nil %>
      <div class="post-text-box">
        <span><%= safe_join(@post.text.split("\n"),tag(:br)) %></span>
      </div>
    <% end %>
    <div class="post-date">
      <%= l @post.created_at, format: :short %>
    </div>
    <div class="post-user-box">
        <span>by  <%= link_to @post.user.nickname, user_path(@post.user), class: "user-page-link" %></span>
      </div>
    <div class="post-kind">
      タイプ：<%= @post.kind_i18n %>
    </div>
    <div class="post-genre">
      ジャンル：<%= @post.genre_i18n %>
    </div>

    <% if @post.favorited?(current_user) %>
      <%= link_to post_favorites_path(@post.id), method: :delete, class:"fav-star" do %>
        <i class="fa-solid fa-star"></i>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(@post.id), method: :post do %>
        <i class="fa-regular fa-star"></i>
      <% end %>
    <% end %>
    <% if current_user.id == @post.user_id %>
      <div class="edit-or-delete">
        <%= link_to "編集",  edit_post_path(@post.id), method: :get, class: "item-red-btn" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"item-destroy" %>
      </div>
    <% end %>
  </div>
</div>